/*主体*/
body{
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;

}


/*logo*/
.logo{
    width: 50px;
}

/*---------------导航栏开始-------------*/
.nav{
    width:350px;
    padding: 10px;
    margin:0px auto;
}
.nav  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    font-family:sans-serif;
    display: block;
    color: white;
    font-size: 5px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}

/*---------------导航栏结束-------------*/

.words{
    margin: 400px auto;
    margin-top: 600px;
    width: 200px;
}

.words h4{
    text-align: center;
    color: white;
}

.words p{
    color: white;
}